@model IdentitySample.Models.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Telefon Numarası Doğrula";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fas fa-fw fa-home"></i>
        <a href="@Url.Action("Index","Home")" style="color:black">Giriş</a>
    </li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Index","Manage")" style="color:black">Kullanıcı</a></li>
    <li class="breadcrumb-item active"><a href="@Url.Action("VerifyPhoneNumber","Manage")" style="color:black">Telefon Numarası Doğrula</a></li>

</ol>
<h4 class="mx-3">@ViewBag.Title</h4>

@using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("phoneNumber", @Model.PhoneNumber)


    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <span class="mx-3">Doğrulama Kodu</span> 
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        </div>
        
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <h5 style="color:red">@ViewBag.Status</h5>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Gönder" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
