@using BusinessHR.Admin.Models
@using IdentitySample.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Parolayı Sıfırla</div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4>Parolayı sıfırla</h4>
                    <p>Lütfen E-posta adresinizi girin, şifrenizi nasıl sıfırlayacağınızla ilgili talimatları size göndereceğiz.</p>
                </div>
                <form>
                    <div class="form-group">
                        <div class="form-label-group">
                            Email
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" class="btn btn-primary btn-block" value="Parolamı Sıfırla!" />
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="@Url.Action("Register", "Account")">Yeni Hesap</a>
                    <a class="d-block small" href="@Url.Action("Login", "Account")">Giriş</a>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
