@model BusinessHR.Admin.Models.CompanyViewModel

@{
    ViewBag.Title = "Delete";
}

<<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fas fa-fw fa-home"></i>
        <a href="@Url.Action("Index","Home")" style="color:black">Giriş</a>
    </li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Index","Companies")" style="color:black">Firma</a></li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Details","Companies")" style="color:black">Sil</a></li>

</ol>
<h4 class="mx-3">Firma Sil</h4>

<h5 class="mx-3">Silmek istediğinize emin misiniz?</h5>

    <div>

        <hr />
        <dl class="dl-horizontal mx-3">




            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CountryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CountryName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CityName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CityName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RegionName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegionName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-danger mx-3" />|<span> @Html.ActionLink("Geri Dön", "Index") </span>
                
            </div>
        }
    </div>
