@model IEnumerable<BusinessHR.Admin.Models.CompanyViewModel>


@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fas fa-fw fa-home"></i>
        <a href="@Url.Action("Index","Home")" style="color:black">Giriş</a>
    </li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Index","Companies")" style="color:black">Firma</a></li>

</ol>
<h4 class="mx-4">Firma</h4>
<hr />

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary mx-4">Yeni Firma</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.RegionName)
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            

            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
