@model BusinessHR.Admin.Models.PermissionViewModel
@using BusinessHR.Admin.Extensions
@using System.ComponentModel.DataAnnotations

@{
    ViewBag.Title = "Delete";
}

    <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fas fa-fw fa-home"></i>
        <a href="@Url.Action("Index","Home")" style="color:black">Giriş</a>
    </li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Index","Permissions")" style="color:black">İzinler</a></li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Details","Permissions")" style="color:black">Sil</a></li>

    </ol>
    <h4 class="mx-3">İzin Sil</h4>

    <h5 class="mx-3">Silmek istediğinize emin misiniz?</h5>
    <div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PermissionTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermissionTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermissionStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermissionStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermissionEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermissionEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermissionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermissionTime)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        @Html.ActionLink("Geri Dön", "Index")
    </div>
    }
</div>
