@model IEnumerable<BusinessHR.Admin.Models.PermissionViewModel>
@using BusinessHR.Admin.Extensions
@using System.ComponentModel.DataAnnotations

@{
    ViewBag.Title = "İzin";
 } 

          <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fas fa-fw fa-home"></i>
                <a href="@Url.Action("Index","Home")" style="color:black">Giriş</a>
            </li>
            <li class="breadcrumb-item active"><a href="@Url.Action("Index","Permissions")" style="color:black">İzinler</a></li>

        </ol>
        <h4 class="mx-4">İzinler</h4>
        <hr />
        <p>
            <a href="@Url.Action("Create")" class="btn btn-primary mx-4">Yeni İzin</a>
            <a href="@Url.Action("Create","PermissionTypes")" class="btn btn-success">İzin Türü Ekle</a>
        </p>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EmployeeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PermissionTypeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PermissionStartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PermissionEndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PermissionTime)
                            </th>


                            <th>Eylemler</th>
                        </tr>
                        </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PermissionTypeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PermissionStartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PermissionEndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PermissionTime)
                            </td>



                            <td nowrap>
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                                @Html.ActionLink("Detaylar", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                            </td>

                        </tr>
                        }
                    </tbody>

        </table>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
</div>
