@model IEnumerable<BusinessHR.Admin.Models.CertificateViewModel>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fas fa-fw fa-home"></i>
        <a href="@Url.Action("Index","Home")" style="color:black">Giriş</a>
    </li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Index","Certificates")" style="color:black">Sertifikalar</a></li>

</ol>
<h2>Sertifikalar</h2>
<br />
<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Yeni Sertifika</a>
</p>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.Name)</th>
                    <th>Eylemler</th>

                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.Name)</th>
                    <th>Eylemler</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>

                        <td nowrap>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        </td>


                    </tr>
                }
            </tbody>
        </table>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
</div>