@model BusinessHR.Admin.Models.CountryViewModel
@using BusinessHR.Admin.Extensions
@using System.ComponentModel.DataAnnotations

@{
    ViewBag.Title = "Delete";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fas fa-fw fa-home"></i>
        <a href="@Url.Action("Index","Home")" style="color:black">Giriş</a>
    </li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Index","Countries")" style="color:black">Ülkeler</a></li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Details","Countries")" style="color:black">Sil</a></li>

</ol>
<h4 class="mx-3">Ülke Sil</h4>

<h5 class="mx-3">Silmek istediğinize emin misiniz?</h5>
<div>

    <hr />
    <dl class="dl-horizontal mx-3">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color mx-3">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
