@model BusinessHR.Admin.Models.CityViewModel

@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fas fa-fw fa-home"></i>
        <a href="@Url.Action("Index","Home")" style="color:black">Giriş</a>
    </li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Index","Cities")" style="color:black">Şehir</a></li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Details","Cities")" style="color:black">Detaylar</a></li>

</ol>
<h4 class="mx-3">Şehir Detayları</h4>

<div>

    <hr />
    <dl class="dl-horizontal mx-3">
        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>



    </dl>
</div>
<p class="mx-3">
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>

