@model IEnumerable<BusinessHR.Admin.Models.CityViewModel>
@using BusinessHR.Admin.Extensions;
@using System.ComponentModel.DataAnnotations

@{

    ViewBag.Title = "Index";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.Name)</th>
                    <th> @Html.DisplayNameFor(model => model.CountryName)</th>
                    <th>Eylemler</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                         @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => item.CountryName)
                    </td>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
                    <td nowrap>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                        @Html.ActionLink("Detaylar", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    </td>


                </tr>
                }
            </tbody>
        </table>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
</div>
