@model BusinessHR.Admin.Models.PermissionTypeViewModel
@using BusinessHR.Admin.Extensions
@using System.ComponentModel.DataAnnotations

@{
    ViewBag.Title = "Delete";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fas fa-fw fa-home"></i>
        <a href="@Url.Action("Index","Home")" style="color:black">Giriş</a>
    </li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Index","PermissionTypes")" style="color:black">İzin Türleri</a></li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Details","PermissionTypes")" style="color:black">Sil</a></li>

</ol>
<h4 class="mx-3">İzin Türü Sil</h4>

<h5 class="mx-3">Silmek istediğinize emin misiniz?</h5>
<div>

    <hr />    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Geri Dön", "Index")
    </div>
    }
</div>
