@model BusinessHR.Admin.Models.SalaryViewModel
@using BusinessHR.Admin.Extensions
@using System.ComponentModel.DataAnnotations

@{
    ViewBag.Title = "Delete";
}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fas fa-fw fa-home"></i>
            <a href="@Url.Action("Index","Home")" style="color:black">Giriş</a>
        </li>
        <li class="breadcrumb-item active"><a href="@Url.Action("Index","Salaries")" style="color:black">Maaşlar</a></li>
        <li class="breadcrumb-item active"><a href="@Url.Action("Details","Salaries")" style="color:black">Sil</a></li>

    </ol>

<h4 class="mx-3">Maaş Sil</h4>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Maas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrutMaas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrutMaas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetMaas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetMaas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AGI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odenen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odenen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Durum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durum)
        </dd>

       

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color mx-3">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
