@model BusinessHR.Admin.Models.SalaryViewModel
@using BusinessHR.Admin.Extensions
@using System.ComponentModel.DataAnnotations
@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fas fa-fw fa-home"></i>
        <a href="@Url.Action("Index","Home")" style="color:black">Giriş</a>
    </li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Index","Salaries")" style="color:black">Maaş</a></li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Details","Salaries")" style="color:black">Detaylar</a></li>

</ol>
<h4 class="mx-3">Maaş Detayları</h4>

<div>

    <hr />
    <dl class="dl-horizontal mx-3">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrutMaas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrutMaas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SGKPrim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SGKPrim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssizlikSigortasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssizlikSigortasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DamgaVergisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DamgaVergisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AGI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetMaas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetMaas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eklemeler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eklemeler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kesintiler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kesintiler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToplamOdenen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToplamOdenen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryStatus)
        </dd>



    </dl>
</div>
<p class="mx-3">
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
